/* Основний стиль для всього тіла сторінки */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/*-------------------------------------------------- Стиль для навігаційної панелі ------------------------------------------------------*/
.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 1;
}

.navbar ul li {
  float: left;
} 

.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar ul li a:hover { 
  background-color: #575757;
}

.search-box {
  float: right;
}

.search-box input {
  padding: 6px;
  margin: 8px 16px;
  border: none;
  border-radius: 4px;
}

/******************** Основний контент сторінки *********************/
main {
  padding-right: 500px;
  padding-left: 10px;
  padding-top: 10px;
}



/* Стиль для постів */
.post {
  background-color: white;
  padding: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.post-header p {
  margin-left: auto; /* Розміщуємо текст праворуч */
}

.post-content {
  font-size: 16px;
  color: #333;
}

.post-image {
  max-width: 25%;
  height: auto;
  margin-top: 10px;
}

.post-actions {
  text-align: right;
}

.like-btn {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.like-btn:hover {
  background-color: #363434;
}


/*---------------------------------Новий стиль для профілю користувача------------------------------------------*/
.profile-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.profile-photo img {
  width: 100%;
  height: auto;
}

.profile-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile-info h2 {
  margin: 0;
  font-size: 24px;
}

.profile-stats {
  margin: 10px 0;
}

.profile-stats span {
  display: block;
  margin: 5px 0;
}
